.xnote-root {
  color: rgb(31, 35, 41);

  * ::selection {
    background: rgba(20, 99, 252, 0.34);
  }
}

//.xnote-title {
//  font-size: 30px;
//  font-weight: 600;
//  margin: 36px 0 22px;
//
//  &:before {
//    content: attr(data-placeholder);
//    position: absolute;
//    opacity: .5;
//  }
//}

.xnote-content {
  font-size: initial;
  font-family: initial;
  color: initial;
  line-height: 1.65;

  &:before {
    content: attr(data-placeholder);
    position: absolute;
    opacity: .5;
  }
}
