.menu-item {
  font-size: 14px;
  padding: 2px 10px;
  height: 26px;
  line-height: 26px;
  transition: background-color .2s;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;

  &-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    background: #eee;
  }

  &.active {
    background: rgba(0, 0, 0, .1);
  }
}

.menu-icon {
  display: inline-block;
  width: 1.8em;
}

.menu-check {
  display: none;

  &.checked {
    display: block;
    color: #296eff;
  }
}
