@import "~katex/dist/katex.min.css";

.xnote-katex, .katex-display, .katex, .katex-html {
  display: inline-block
}

.xnote-katex {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.xnote-katex-input {
  min-height: 300px;
  position: absolute;
  inset: 0;
  width: 590px;

  .xnote-source-code {
    margin: 0;
    user-select: text;
    overflow: hidden;

    &-container {
      height: 100%;
      border: 0 !important;
    }

    &-content {
      box-sizing: border-box;
      overflow: hidden;
      max-height: initial;
      min-height: 300px;
    }
  }
}
