.textbus-table-editor-mask {
  position: absolute;
  box-shadow: 0 0 0 2px #1296db;
  pointer-events: none;
  overflow: hidden;
}

.textbus-table-editor-first-cell {
  position: absolute;
  box-shadow: 0 0 0 9999px rgba(18, 150, 219, .1);
  contain: style;
}
