.xnote-h1 {
  font-size: 2.2em;
  font-weight: 600;
}

.xnote-h2 {
  font-size: 1.8em;
  font-weight: 600;
}

.xnote-h3 {
  font-size: 1.4em;
  font-weight: 600;
}

.xnote-h4 {
  font-size: 1em;
  font-weight: 600;
}

.xnote-h5 {
  font-size: 0.9em;
  font-weight: 600;
}

.xnote-h6 {
  font-size: 0.8em;
  font-weight: 600;
}

.xnote-code {
  padding: 2px 3px;
  margin: 0 3px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .2);
  font-family: Microsoft YaHei Mono, Menlo, Monaco, Consolas, Courier New, monospace;;
}
