.textbus-container {
  line-height: 1.428;
  border-radius: 5px;
  height: 480px;
  color: $color-dark;
  position: relative;
  display: flex;
  flex-direction: column;
  @include scrollChild();

  > div {
    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }

  &.textbus-container-full-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    z-index: 10000;
    height: auto;
  }
}

.textbus-ui {
  &-top {
    position: relative;
    z-index: 1;
  }

  &-workbench {
    flex: 1;
    position: relative;
    border-left: 1px solid $color-light;
    border-right: 1px solid $color-light;
    overflow: hidden;
    z-index: 0;

    &:first-child {
      border-top: 1px solid $color-light
    }

    &:last-child {
      border-bottom: 1px solid $color-light;
    }
  }

  &-dashboard {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 0;
  }

  &-viewer {
    flex: 1;
    position: relative;
    display: flex;
  }

  &-right {
    position: relative;
    overflow: auto;
    height: 100%;
    z-index: 1;
  }

  &-bottom {
    position: relative;
    z-index: 0;
  }

  &-scroll {
    flex: 1;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &.textbus-readonly {
      &::after {
        content: "";
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }

  &-page {
    padding: 8px 0;
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    background-color: #fff;
    min-height: 100%;
    margin: 0 auto;
    opacity: 0;
    transform: scale(0.95);
    transition: all 1.2s cubic-bezier(.36, .66, .04, 1);
    box-sizing: border-box;

    &.textbus-ui-page-ready {
      opacity: 1;
      transform: scale(1);
    }
  }

  &-doc {
    position: relative;
  }
}

.textbus-workbench {
  background: #fff;
  flex: 1;
}

.textbus-frame {
  border: none;
  width: 100%;
  display: block;
  min-height: 100%;
}
