.textbus-status-bar {
  border: 1px solid $color-light;
  box-sizing: border-box;
  height: 30px;
  line-height: 20px;
  padding: 5px 15px;
  font-size: 12px;
  background-color: lighten($color-lighter, 1);
  user-select: none;
  color: $color-default;
  display: flex;
  align-items: center;

  button {
    font-family: inherit;
  }
}

.textbus-paths {
  flex: 1;
  display: flex;
}

.textbus-paths-link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $color-primary;
  }
}

.textbus-paths-split {
  font-size: .8em;
  color: $color-gray-dark;
}

.textbus-device {
  position: relative;

  &-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: inherit;
    padding-left: .5em;
    padding-right: .5em;

    &:hover {
      color: $color-primary;
    }

    span {
      margin-left: .5em;
    }
  }

  &-expand {
    .textbus-device-menus {
      transform: scaleY(1);
    }
  }

  &-menus {
    position: absolute;
    bottom: 100%;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    transform-origin: 0 100%;
    transition: transform .1s;
    transform: scaleY(0);
    background-color: rgba(252, 252, 251, .96);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    border-radius: 4px;
    min-width: 100%;
    font-size: 13px;
    overflow: hidden;
    z-index: 2;

  }

  &-option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: 3px 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    line-height: inherit;
    min-height: 25px;

    small {
      margin-left: 20px;
      opacity: .8;
    }

    &-active {
      background-color: $color-light;
    }

    &:hover {
      color: #fff;
      background-color: $color-primary;
    }
  }
}

.textbus-full-screen, .textbus-editing-mode {
  background: none;
  color: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  padding-left: .5em;
  padding-right: .5em;

  &:hover {
    color: $color-primary;
  }
}

.textbus-lib-switch {
  background: none;
  color: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  padding-left: .5em;
  padding-right: .5em;

  &-active {
    color: $color-primary;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
