.textbus-workbench {
  border-left: 1px solid $color-light;
  border-right: 1px solid $color-light;
  background: #fff;
  flex: 1;
  position: relative;
  overflow: hidden;
  /*---滚动条默认显示样式--*/
  ::-webkit-scrollbar-thumb {
    background-color: $color-gray-dark;
    height: 50px;
    outline-offset: 0;
    outline: 0;
    //-webkit-border-radius: 4px;
    border: 0;
  }

  /*---鼠标点击滚动条显示样式--*/
  ::-webkit-scrollbar-thumb:hover {
    background-color: $color-dark;
    height: 50px;
    //-webkit-border-radius: 4px;
  }

  /*---滚动条大小--*/
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /*---滚动框背景样式--*/
  ::-webkit-scrollbar-track-piece {
    background-color: $color-gray;
    -webkit-border-radius: 0;
  }
}

.textbus-additional-worktable {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.textbus-dialog {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  pointer-events: none;
  transition: background-color .15s cubic-bezier(.36, .66, .04, 1);

  &-wrapper {
    position: absolute;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    border-top: 0;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
    transition: top .15s cubic-bezier(.36, .66, .04, 1);
    pointer-events: auto;
    //max-height: calc(100% - 20px);

    &-active {
      top: 0;
    }
  }

  &-active {
    background-color: rgba(0, 0, 0, .3);
    pointer-events: auto;
  }
}


.textbus-dashboard {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 0;
}

.textbus-editable-area {
  user-select: none;
  position: relative;
  overflow: auto;
  flex: 1;
}

.textbus-workbench-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity .3s;
  pointer-events: none;

  &.textbus-workbench-loading-done {
    opacity: 0;
  }
}

.textbus-workbench-loading > div {
  width: 14px;
  height: 14px;
  background-color: #333;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 50%;
  animation: textbus-workbench-loading 1.2s infinite ease-in-out;
}

.textbus-workbench-loading > div:nth-child(2) {
  animation-delay: -1.1s;
}

.textbus-workbench-loading > div:nth-child(3) {
  animation-delay: -1.0s;
}

.textbus-workbench-loading > div:nth-child(4) {
  animation-delay: -0.9s;
}

.textbus-workbench-loading > div:nth-child(5) {
  animation-delay: -0.8s;
}

.textbus-workbench-loading > div:nth-child(6) {
  animation-delay: -0.7s;
}

.textbus-workbench-loading > div:nth-child(7) {
  animation-delay: -0.6s;
}

@keyframes textbus-workbench-loading {
  0%, 40%, 100% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.5);
  }
}


.textbus-component-stage {
  display: none;
  overflow: auto;
  background-color: #fff;
  border-right: 1px solid $color-light;
  height: 100%;

  &-list {
    box-sizing: content-box;
    padding: 15px 10px;
    width: 240px;
    overflow: hidden;
  }

  &-expand {
    display: block;
  }
}

.textbus-component-example-item {
  width: 100px;
  height: 100px;
  margin: 5px 10px;
  float: left;
  position: relative;
  user-select: none;
}

.textbus-component-example {
  position: relative;
  height: 70px;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
  border-radius: 3px;
  overflow: hidden;
  transition: transform .15s;
  cursor: pointer;

  &-content {
    position: relative;
    z-index: 0;
  }

  &-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  &:hover {
    transform: scale(1.12);
  }
}

.textbus-component-example-name {
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  margin-top: 1px;
}

.textbus-control-panel {
  width: 240px;
  background-color: #fff;
  border-left: 1px solid $color-light;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform .3s;
  &-show {
    transform: translateX(0);
  }
}

.textbus-control-panel-tab {
  background-color: $color-lighter;
  border-bottom: 1px solid $color-light;
  height: 23px;
  padding: 11px 10px 0;

  &-btn {
    border: 1px solid $color-gray;
    border-bottom: 0;
    background-color: $color-gray-light;
    border-radius: 5px 5px 0 0;
    height: 24px;
    margin-right: 5px;
    position: relative;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $color-light;
    }

    &-active {
      background-color: #fff;
      z-index: 1;

      &:hover {
        background-color: #fff;
      }
    }
  }
}

.textbus-control-panel-view {
  padding: 10px 15px;
  flex: 1;
  overflow-y: auto;
}

.textbus-tablet-wrapper {
  padding: 8px 0;
  background-color: #fff;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
  opacity: 0;
  transform: scale(0.95);
  transition: all 1.2s cubic-bezier(.36, .66, .04, 1);
  box-sizing: border-box;

  &.textbus-tablet-ready {
    opacity: 1;
    transform: scale(1);
  }
}

.textbus-tablet {
  position: relative;
  min-height: 100%;

  &.textbus-readonly {
    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.textbus-frame {
  border: none;
  width: 100%;
  display: block;
  min-height: 100%;
}
