.tb-blockquote {
  padding: 10px 15px;
  border-left: 10px solid #dddee1;
  background-color: #f8f8f9;
  margin: 1em 0;
  border-radius: 4px;
}

.tb-blockquote > *:first-child {
  margin-top: 0
}

.tb-blockquote > *:last-child {
  margin-bottom: 0
}
