@import "./code-themes/light";
@import "./code-themes/dark";
@import "./code-themes/vitality";
@import "./code-themes/starry";
code, .tb-pre {
  background-color: #fefefe;
}

.tb-pre code {
  padding: 0;
  border: none;
  background: none;
  border-radius: 0;
  vertical-align: inherit;
}

code {
  padding: 1px 5px;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, .08);
}

.tb-pre {
  position: relative
}

.tb-pre-content {
  border-radius: 5px;
  border: 1px solid #efefef;
  line-height: 1.418em;
  display: flex;
  position: relative;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: Microsoft YaHei Mono, Menlo, Monaco, Consolas, Courier New, monospace;
}

.tb-code-line-number-bg {
  background-color: #f9f9f9;
  border-right: 1px solid #eee;
  width: 3em;
}

.tb-pre.tb-pre-hide-line-number {
  .tb-code-line-number-bg {
    display: none;
  }
  .tb-code-line {
    padding-left: 20px;
  }
}

.tb-code-content {
  flex: 1;
  padding: 15px 0 15px 0;
  counter-reset: codeNum;
}

.tb-color-content-highlight {
  background-color: #eee
}

.tb-color-content-highlight .tb-code-line {
  opacity: 0.56;
}

.tb-code-line {
  position: relative;
  display: block;
  padding: 0 20px 0 0.5em
}

.tb-code-line::before {
  counter-increment: codeNum;
  content: counter(codeNum);
  position: absolute;
  left: -5.3em;
  top: 0;
  width: 4em;
  text-align: right;
  padding: 0 0.8em 0 0.5em;
  overflow: hidden;
  white-space: nowrap;
  color: #aeaeae;
}

.tb-color-content-highlight .tb-code-line-emphasize {
  opacity: 1;
  background-color: #fefefe
}

.tb-pre-lang {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  pointer-events: none;
  font-size: 13px;
  padding: 4px 10px;
}


// simple-dark
.tb-pre[theme=simple-dark] .tb-pre-content {
  color: #a9aeb2;
  background-color: #1c2838;
  border-color: #353535
}

.tb-pre[theme=simple-dark] .tb-color-content-highlight {
  background-color: #263140;
}

.tb-pre[theme=simple-dark] .tb-color-content-highlight .tb-code-line-emphasize {
  opacity: 1;
  background-color: #1c2838
}

.tb-pre[theme=simple-dark] .tb-hl-keyword {
  color: rgb(0, 134, 179);
}

.tb-pre[theme=simple-dark] .tb-hl-tag {
  color: rgb(0, 134, 179);
}

.tb-pre[theme=simple-dark] .tb-hl-comment {
  color: #4c5156;
}

.tb-pre[theme=simple-dark] .tb-hl-string {
  color: #ce5a70;
}

.tb-pre[theme=simple-dark] .tb-hl-attr-value {
  color: #ce5a70;
}

.tb-pre[theme=simple-dark] .tb-hl-regex {
  color: #af741d;
}

.tb-pre[theme=simple-dark] .tb-hl-selector {
  color: #ce5a70;
  font-weight: normal
}

.tb-pre[theme=simple-dark] .tb-code-line::before {
  color: #536171
}

.tb-pre[theme=simple-dark] .tb-code-line-number-bg {
  background-color: #2d3a48;
  border-right-color: #292929;
}
