tb-todolist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tb-todolist-item {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: flex;
}

.tb-todolist-btn {
  margin-right: 0.6em;
}

.tb-todolist-state {
  display: inline-block;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border: 2px solid #1296db;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
}

.tb-todolist-state:after {
  content: "";
  position: absolute;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-sizing: content-box;
  left: 3px;
  top: 1px;
  width: 4px;
  height: 6px;
  transform: rotateZ(45deg);
}

.tb-todolist-state-active:after {
  border-color: #1296db;
}

.tb-todolist-state-disabled {
  opacity: 0.5;
}

.tb-todolist-content {
  flex: 1;
}
