.keymap {
  font-size: .9em;
  opacity: .6;
  font-family: Microsoft YaHei Mono, Menlo, Monaco, Consolas, Courier New, monospace;
  display: inline-flex;
  align-items: center;
  margin-left: 1em;

  ::v-deep span {
    margin: 0 2px;
  }
}
