.textbus-container.textbus-theme-darkline {
  .textbus-ui-bottom {
    background-color: lighten($color-darker, 8);
    border-color: lighten($color-darker, 8);
    color: $color-gray-dark;
  }

  .textbus-ui-middle {
    border-color: $color-darker;
  }
}

.textbus-toolbar.textbus-toolbar-darkline {
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);

  .textbus-toolbar-wrapper {
    background-color: $color-darker;
    border-color: $color-darker;
  }

  .textbus-toolbar-additional-worktable {
    border-bottom: 0;
  }

  .textbus-toolbar-button {
    color: $color-gray;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }

    &-active {
      color: $color-primary;
    }

    &:focus {
      position: relative;
      @include focus($color-primary);
    }

    &:active {
      color: inherit;
      background-color: $color-gray;
    }
  }

  .textbus-toolbar-components-btn {
    color: $color-gray;

    &-active {
      color: $color-primary;
    }
  }


  .textbus-toolbar-dropdown.textbus-toolbar-dropdown-open > .textbus-toolbar-action {
    background-color: $color-gray;
    color: $color-darker;
  }
}


