@font-face {
  font-family: 'textbus';
  src:
    url('fonts/textbus.ttf?iigo9d') format('truetype'),
    url('fonts/textbus.woff?iigo9d') format('woff'),
    url('fonts/textbus.svg?iigo9d#textbus') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="xnote-icon-"], [class*=" xnote-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'textbus' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xnote-icon-timeline:before {
  content: "\e900";
}
.xnote-icon-step:before {
  content: "\e901";
}
.xnote-icon-arrow-left:before {
  content: "\e902";
}
.xnote-icon-arrow-right:before {
  content: "\e903";
}
.xnote-icon-arrow-top:before {
  content: "\e904";
}
.xnote-icon-arrow-bottom:before {
  content: "\e905";
}
.xnote-icon-source-code:before {
  content: "\e906";
}
.xnote-icon-insert-paragraph-after:before {
  content: "\e907";
}
.xnote-icon-insert-paragraph-before:before {
  content: "\e908";
}
.xnote-icon-plus:before {
  content: "\e909";
}
.xnote-icon-table-border:before {
  content: "\e90a";
}
.xnote-icon-table-remove:before {
  content: "\e90b";
}
.xnote-icon-function:before {
  content: "\e90c";
}
.xnote-icon-paint-bucket:before {
  content: "\e90d";
}
.xnote-icon-background-color:before {
  content: "\e90e";
}
.xnote-icon-color:before {
  content: "\e90f";
}
.xnote-icon-hightlight-box:before {
  content: "\e910";
}
.xnote-icon-table-edit:before {
  content: "\e911";
}
.xnote-icon-table-split-columns:before {
  content: "\e912";
}
.xnote-icon-image:before {
  content: "\e919";
}
.xnote-icon-music:before {
  content: "\e91b";
}
.xnote-icon-video:before {
  content: "\e91c";
}
.xnote-icon-unlink:before {
  content: "\e91d";
}
.xnote-icon-select:before {
  content: "\e91e";
}
.xnote-icon-tree:before {
  content: "\e91f";
}
.xnote-icon-more:before {
  content: "\e921";
}
.xnote-icon-checkmark:before {
  content: "\e922";
}
.xnote-icon-text-wrap:before {
  content: "\e924";
}
.xnote-icon-heading-h1:before {
  content: "\e925";
}
.xnote-icon-heading-h2:before {
  content: "\e926";
}
.xnote-icon-heading-h3:before {
  content: "\e927";
}
.xnote-icon-heading-h4:before {
  content: "\e928";
}
.xnote-icon-heading-h5:before {
  content: "\e929";
}
.xnote-icon-heading-h6:before {
  content: "\e92a";
}
.xnote-icon-heading:before {
  content: "\e92b";
}
.xnote-icon-copy:before {
  content: "\e92c";
}
.xnote-icon-paste:before {
  content: "\e92d";
}
.xnote-icon-history-back:before {
  content: "\e967";
}
.xnote-icon-history-forward:before {
  content: "\e968";
}
.xnote-icon-quotes-right:before {
  content: "\e978";
}
.xnote-icon-bin:before {
  content: "\e9ac";
}
.xnote-icon-list-numbered:before {
  content: "\e9b9";
}
.xnote-icon-list:before {
  content: "\e9bb";
}
.xnote-icon-link:before {
  content: "\e9cb";
}
.xnote-icon-command:before {
  content: "\ea4e";
}
.xnote-icon-shift:before {
  content: "\ea4f";
}
.xnote-icon-ctrl:before {
  content: "\ea50";
}
.xnote-icon-opt:before {
  content: "\ea51";
}
.xnote-icon-checkbox-checked:before {
  content: "\ea52";
}
.xnote-icon-checkbox-unchecked:before {
  content: "\ea53";
}
.xnote-icon-cut:before {
  content: "\ea5a";
}
.xnote-icon-line-height:before {
  content: "\ea5f";
}
.xnote-icon-letter-spacing:before {
  content: "\ea60";
}
.xnote-icon-font-size:before {
  content: "\ea61";
}
.xnote-icon-bold:before {
  content: "\ea62";
}
.xnote-icon-underline:before {
  content: "\ea63";
}
.xnote-icon-italic:before {
  content: "\ea64";
}
.xnote-icon-strikethrough:before {
  content: "\ea65";
}
.xnote-icon-superscript:before {
  content: "\ea69";
}
.xnote-icon-subscript:before {
  content: "\ea6a";
}
.xnote-icon-table:before {
  content: "\ea71";
}
.xnote-icon-pilcrow:before {
  content: "\ea73";
}
.xnote-icon-ltr:before {
  content: "\ea74";
}
.xnote-icon-rtl:before {
  content: "\ea75";
}
.xnote-icon-paragraph-left:before {
  content: "\ea77";
}
.xnote-icon-paragraph-center:before {
  content: "\ea78";
}
.xnote-icon-paragraph-right:before {
  content: "\ea79";
}
.xnote-icon-paragraph-justify:before {
  content: "\ea7a";
}
.xnote-icon-indent-increase:before {
  content: "\ea7b";
}
.xnote-icon-indent-decrease:before {
  content: "\ea7c";
}
.xnote-icon-code:before {
  content: "\ea80";
}
