// 基础颜色
$color-darker: #1c2838 !default; // 标题颜色
$color-dark: #495060 !default; // 正文颜色
$color-gray-dark: #80848f !default; // 图标、icon颜色
$color-gray: #bbbec4 !default; // 表单边框颜色
$color-gray-light: #dddee1 !default; // 内边线颜色
$color-light: #e9eaec !default; // 布局边框颜色
$color-lighter: #f8f8f9 !default; // 背景颜色

$color-default: $color-dark !default;
$color-primary: #296eff !default; // 主色调
//$color-info: #6ad1ec !default; // 信息提示颜色
//$color-success: #15bd9a !default; // 正向操作提示颜色
//$color-warning: #ff9900 !default; // 负面操作警告颜色
$color-danger: #E74F5E !default; // 危险操作警告颜色

.xnote-color-picker {
  display: inline-block;
  background-color: #fff;
  text-align: left;
  width: 165px;
  font-size: 12px;
  box-sizing: content-box !important;
  user-select: none;
  position: relative;
  overflow: hidden;

  &.xnote-color-picker-show-palette {
    height: 310px;

    .xnote-color-picker-menu {
      top: 0;
    }
  }
}

.xnote-color-picker-preset > div:first-child {
  margin-bottom: 5px;
}

.xnote-color-picker-recent-text {
  padding: 2px;
  color: $color-gray-dark;
}

.xnote-color-picker-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xnote-color-picker-to-palette {
  outline: none;
  background: none;
  border: 0;
  display: flex;
  align-items: center;
  color: #333;
  cursor: pointer;
  padding-right: 0;

  svg {
    width: 1em;
  }

  &:hover {
    color: $color-primary;

    svg {
      fill: $color-primary;
    }
  }
}

.xnote-color-picker-back-btn {
  border: 0;
  background: none;
  outline: none;
  color: #333;
  cursor: pointer;
  padding: 0;
  line-height: 20px;

  &-wrap {
    height: 2em;
  }

  svg {
    width: 1em;
    height: 1em;
    margin-top: -2px;
  }

  &:hover {
    color: $color-primary;
  }
}

.xnote-color-picker-menu {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  transition: top cubic-bezier(.36, .66, .04, 1) .2s;
}

.xnote-color-picker-viewer {
  height: 160px;
}

.xnote-color-picker-viewer-left {
  float: left;
}

.xnote-color-picker-palette {
  height: 130px;
  width: 130px;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  &-empty {
    background-color: #fff;
    background-image: linear-gradient(45deg, $color-gray 25%, transparent 25%, transparent 75%, $color-gray 75%, $color-gray),
    linear-gradient(45deg, $color-gray 26%, transparent 26%, transparent 74%, $color-gray 74%, $color-gray);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;

    &:before {
      display: none;
    }
  }
}

.xnote-color-picker-palette-point {
  width: 1em;
  height: 1em;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
  position: absolute;
  pointer-events: none;
}

.xnote-color-picker-viewer-alpha {
  margin-top: 10px;
  height: 10px;
  position: relative;
  background-color: $color-gray;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  linear-gradient(45deg, #fff 26%, transparent 26%, transparent 74%, #fff 74%, #fff);
  background-size: 10px 10px;
  background-position: -5px -5px, 0 0;

  &-bar {
    height: 100%;
    border-radius: inherit;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  &-pointer {
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;

    &:before, &:after {
      contain: size style layout;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 7px 4px;
      border-style: solid;
      left: -4px;
    }

    &:before {
      border-color: $color-dark transparent transparent transparent;
      top: -6px;
    }

    &:after {
      border-color: transparent transparent $color-dark transparent;
      top: 2px;
    }
  }
}

.xnote-color-picker-viewer-right {
  float: left;
  margin-left: 10px;
  width: 20px;
}

.xnote-color-picker-tools {
  margin-bottom: 10px;
}

.xnote-color-picker-viewer-alpha-value {
  text-align: center;
  line-height: 1;
  width: 34px;
  margin-left: -7px;
  font-family: Microsoft YaHei Mono, Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 13px;
}

.xnote-color-picker-value {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  background-image: linear-gradient(45deg, $color-gray 25%, transparent 25%, transparent 75%, $color-gray 75%, $color-gray),
  linear-gradient(45deg, $color-gray 26%, transparent 26%, transparent 74%, $color-gray 74%, $color-gray);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;

  &-color {
    width: 20px;
    height: 20px;
  }
}

.xnote-color-picker-hue-bar {
  flex: 1;
  background: linear-gradient(#f00, #f90, #ff0 16.6%, #0f0 33.3%, #0ff, #00f 66.6%, #f09, #f00);
  height: 100px;
  width: 20px;
  position: relative;
  cursor: pointer;
}

.xnote-color-picker-hue-pointer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 0;
  pointer-events: none;

  &:before, &:after {
    contain: size style layout;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 4px 7px;
    border-style: solid;
    top: 0;
  }

  &:before {
    border-color: transparent transparent transparent $color-dark;
    right: -8px;
  }

  &:after {
    border-color: transparent $color-dark transparent transparent;
    left: 12px;
  }
}

.xnote-color-picker-inputs {
  line-height: 22px;
  color: $color-gray-dark;

  > div {
    display: flex;
    padding: 4px 0;

    > div {
      flex: 1;
      display: flex;
      padding: 0 4px;

      input {
        flex: 1;
        width: 100%;
        margin-left: 5px;
        outline: 0;
        border: 1px solid $color-light;
        border-radius: 3px;
        padding: 3px 5px;
        text-align: center;
        -moz-appearance: textfield;
        font-family: Microsoft YaHei Mono, Menlo, Monaco, Consolas, Courier New, monospace;
        line-height: 1.2;
        font-size: 13px;

        &:focus {
          border-color: $color-primary;
          box-shadow: 0 0 0 2px rgba(red($color-primary), green($color-primary), blue($color-primary), .5);
          z-index: 1;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
  }
}

.xnote-color-picker-swatches {
  font-size: 0;
  padding-top: 3px;
  //background: repeating-linear-gradient(-45deg, #fefefe, #fefefe 5px, #fff 0, #fff 10px);

  > div {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 3px;
    margin-bottom: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    transition: transform .1s;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(45deg, $color-gray 25%, transparent 25%, transparent 75%, $color-gray 75%, $color-gray),
    linear-gradient(45deg, $color-gray 26%, transparent 26%, transparent 74%, $color-gray 74%, $color-gray);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    box-sizing: border-box;
    border-radius: 1px;

    &.xnote-color-picker-current {
      border: 1px solid rgba(0, 0, 0, .3);
      box-shadow: none;
    }

    &[data-color=""] {
      overflow: hidden;
      background: #fff;
      border-top: 1px solid $color-lighter;
      border-left: 1px solid $color-lighter;
      box-sizing: border-box;
      position: relative;

      &:after {
        content: "";
        left: 0;
        right: 0;
        height: 1px;
        background-color: $color-danger;
        position: absolute;
        top: 50%;
        transform: rotateZ(-45deg) scaleX(1.5);
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.xnote-color-picker-btn-wrap {
  padding-top: 5px;
}

.xnote-color-picker-btn {
  padding: 3px 6px;
  font-size: 13px;
  border-radius: 3px;
  color: #fff;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  display: block;
  width: 100%;
  cursor: pointer;
  line-height: 1.428;
  outline: none;

  &:hover {
    background-color: darken($color-primary, 7);
    border-color: darken($color-primary, 7);
  }

  &:focus {
    background-color: darken($color-primary, 10);
    outline: none;
    box-shadow: 0 0 0 2px rgba(red($color-primary), green($color-primary), blue($color-primary), .5);
    border-color: darken($color-primary, 7);
  }

  &:active {
    background-color: darken($color-primary, 15);
    border-color: darken($color-primary, 7);
  }
}
