.xnote-highlight-box {
  border-radius: 4px;
  background: #fcf5ce;
  border: 1px solid #f5c774;
  margin: 16px 0;
  display: flex;

  &-left {
    padding-top: 0.65em;
    width: 40px;
    text-align: center;
  }

  &-content {
    flex: 1;
    width: 0;
  }

  &-icon {
    button {
      font-size: 1.2em;
      padding: 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background: none;
      width: 30px;
      height: 30px;

      &:hover {
        background: rgba(0, 0, 0, .1);
      }
    }
  }
}

.xnote-highlight-box-icons {
  text-align: left;

  button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    font-size: 22px;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }
}

.xnote-highlight-box-content {
  padding: 5px;
}

.xnote-highlight-box-heading {
  font-size: 14px;
  padding: 10px 0 10px 3px;
  opacity: .8;
}
