{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-console": 0,
    "no-debugger": 0,
    "no-irregular-whitespace": "off",
    "no-useless-escape": "off",
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-this-alias": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "no-constant-condition": ["error", {"checkLoops": false }],
    "semi": [1, "never"],
    "no-else-return": 1,
    "no-lonely-if": 1,
    "no-multi-spaces": 1,
    "no-multiple-empty-lines": 1,
    "quotes": [1, "single"],
    "array-callback-return": 1,
    "import/order": [
      1,
      {
        "groups": [
          [
            "builtin",
            "external",
            "internal",
            "type"
          ],
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "newlines-between": "always"
      }
    ]
  },
  "ignorePatterns": ["node_modules"]
}
