@import "../../assets/scroll";

.dropdown-menu {
  position: absolute;
  z-index: 10;
  border: 1px solid #ddd;
  width: 200px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .1);
  border-radius: 5px;
  background: #fff;
  left: -10px;
  top: 100%;
  opacity: 0;
  //pointer-events: none;
  user-select: none;
  overflow-y: auto;
  box-sizing: content-box;
  transition-duration: 0s;
  height: 0;
  transition: transform 0.3s, opacity 0.3s;
  max-height: 400px;
  @include scroll();

  &-content {
    padding: 6px;
    box-sizing: content-box;
  }
}
